

<% git_token = ENV["GIT_TOKEN"] %>

  <% gitproject = "https://api.github.com/repos/mentallyfriendly/primex/collaborators?&access_token=#{git_token}"%>

  <!-- #fetches the data from the api -->
  <% gitResponse = RestClient.get gitproject%>

  <!-- #formats it as a json -->
  <% gituserJson = JSON.parse(gitResponse.body, symbolize_names: true) %>

  <!-- #an example of extracting data from the json -->
  <div class="collaborators">

<% n = 0 %>
<% until n == 10 %>
<img class="collab_img" src="<%= gituserJson[n][:avatar_url] %>"/>
<h3 class="collab_name"><%= gituserJson[n][:login] %></h3>
<% n = n + 1 %>
<%end%>
</div>
<div class="collaborators2">
<% until n == 20 %>
<img class="collab_img" src="<%= gituserJson[n][:avatar_url] %>"/>
<h3 class="collab_name"><%= gituserJson[n][:login] %></h3>
<% n = n + 1 %>
<%end%>
</div>
<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">

  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" style="text-align: left; padding-left: 20px;" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outcomes" data-view="CheckIn" data-title="Hello" style="text-align: center; font-size: 63px;" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="sprintgoals" data-view="List" data-unordered="true" data-title="Sprint Goals">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">

     <div data-id="git_issues_labeled_defects" data-view="Graph" data-title="Current Issues" ></div>
   </li>

     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="google" data-view="Text" data-title="Scraper" style="background-color:#ff9618"></div>
     </li>

      <div data-id="checkin" data-view="checkin" data-title="Checkin" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goalslist" data-view="List" data-unordered="true" data-title="News articles in 'Needs review'"></div>
      <i class="icon-check-sign icon-background"></i>
    </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
