<script type='text/javascript'>
    $(function() {
      Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":2},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":2}]')
    });
</script>

    <% git_token = ENV["GIT_TOKEN"] %>
    <% git_project = File.read('./assets/current_project.txt').gsub("\n",'') %>
    <% teamarr = []%>
    <% gitmembersJson = [] %>

    <% gitteams = "https://api.github.com/repos/mentallyfriendly/#{git_project}/teams?&access_token=#{git_token}"%>
    <% gitResponse1 = RestClient.get gitteams%>
  <!-- #formats it as a json -->
    <% gitteamsJson = JSON.parse(gitResponse1.body, symbolize_names: true) %>

  <!-- #an example of extracting data from the json -->
<% hashArr = [] %>
  <% gitteamsJson.each do |team| %>
<!-- #fetches the data from the api -->
        <% gitResponse2 = RestClient.get "https://api.github.com/teams/#{team[:id]}/members?&access_token=#{git_token}"%>
<!-- #formats it as a json -->
        <% gitmembersJson = JSON.parse(gitResponse2.body, symbolize_names: true) %>
        <% gitmembers = [] %>
        <% gitmembers << gitmembersJson %>

        <% gitmembersJson.each do |member| %>
        <% hash = {} %>
        <% hash.merge!(login: member[:login], avatar: member[:avatar_url]) %>
        <% hashArr << hash %>

        <%end %>
      <% end %>

      <div class="members">
      <% n = 0 %>
       <% until n == 10 || n == hashArr.length %>
       <img class="member_img" src="<%= hashArr[n][:avatar] %>"/>
       <h3 class="member_name"><%= hashArr[n][:login] %></h3>
       <% n = n + 1 %>
       <%end%>
        </div>
      <div class="members2">
      <% until n == 20 || n == hashArr.length %>
      <img class="member_img" src="<%= hashArr[n][:avatar] %>"/>
      <h3 class="member_name"><%= hashArr[n][:login] %></h3>
      <% n = n + 1 %>
      <%end%>
      </div>



<% content_for :title do %>1080p dashboard<% end %>
<%= @this %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="title" data-view="Text" data-title="" data-text="" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outcomes" data-view="CheckIn" data-title="Hello" style="text-align: center; font-size: 63px;" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="git-issues" data-view="text" data-title="Open" data-text="114" data-moreinfo="more info"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="sprintgoals" data-view="List" data-unordered="true" data-title="Sprint Goals" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="open_iss" data-view="Text" data-title="Open" style="background-color:#000;"></div>
      <i class="fa fa-circle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="closed_iss" data-view="Text" data-title="Closed" style="background-color:#000;"></div>
      <i class="fa fa-ban icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="burn" data-view ="LineChart" data-right-margin="10" data-bottom-margin="5"></div>
    </li>

  </ul>

</div>

<% sprintgoals = File.read('./assets/sprint_goals')



<form action="/sampletv" method="POST">
  <h1> Sprint Goals </h1>
  <input class="txtbox" placeholder="Goal 1" value="An Example" type="text" name="goal1"></input>
  <input type="checkbox" name="ch1" value="ch1">
  <input class="txtbox" placeholder="Goal 2" type="text" name="goal2"></input>
  <input type="checkbox" name="ch2" value="ch2">
  <input class="txtbox" placeholder="Goal 3" type="text" name="goal3"></input>
  <input type="checkbox" name="ch3" value="ch3">
  <input class="txtbox"placeholder="Goal 4" type="text" name="goal4"></input>
  <input type="checkbox" name="ch4" value="ch4">
  <input class="txtbox" placeholder="Goal 5" type="text" name="goal5"></input>
  <input type="checkbox" name="ch5" value="ch5">
  <h1> Check Ins </h1>
  <input class="checkinform" placeholder="Tuesday" type="text" name="Tuesday" required maxlength="1"></input>
  <input class="checkinform" placeholder="Thursday" type="text" name="Thursday" required maxlength="1"></input>
  <input class="checkinform" placeholder="Tuesday2" type="text" name="Tuesday2" required maxlength="1"></input>
  <input class="checkinform" placeholder="Friday" type="text" name="Friday" required maxlength="1"></input>
  <input placeholder="Project" type="text" name="current_project"></input>
  <p><input class="submit" type="submit"></p>
</form>
