<script type='text/javascript'>
    $(function() {
      Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":2},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":2}]')
    });
</script>
    <% git_token = ENV["GIT_TOKEN"] %>
    <% git_project = File.read('./assets/current_project.txt').gsub("\n",'') %>

    <% gitproject = "https://api.github.com/repos/mentallyfriendly/#{git_project}/contributors?&access_token=#{git_token}"%>

  <!-- #fetches the data from the api -->
    <% gitResponse = RestClient.get gitproject%>

  <!-- #formats it as a json -->
    <% gituserJson = JSON.parse(gitResponse.body, symbolize_names: true) %>

  <!-- #an example of extracting data from the json -->
<div class="contributors">
    <% gituserJson.each do |contributor| %>

      <img class="contrib_img" src="<%= contributor[:avatar_url] %>"/>
      <h3 class="contrib_name"><%= contributor[:login] %></h3>
      <% if contributor[:contributions] > 1 || contributor[:contributions] == 0 %>
      <% word = "commits" %>
      <% else %>
      <% word = "commit" %>
      <% end %>
      <h4 class="contrib_commit"><%= contributor[:contributions] %> <%= word %></h4>
<% end %>
</div>


<% content_for :title do %>1080p dashboard<% end %>
<%= @this %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="title" data-view="Text" data-title="" data-text="" data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outcomes" data-view="CheckIn" data-title="Hello" style="text-align: center; font-size: 63px;" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="git-issues" data-view="text" data-title="Open" data-text="114" data-moreinfo="more info"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="sprintgoals" data-view="List" data-unordered="true" data-title="Sprint Goals" data-moreinfo="# of times said around the office"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="open_iss" data-view="Text" data-title="Open" style="background-color:#000;"></div>
      <i class="fa fa-circle icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="closed_iss" data-view="Text" data-title="Closed" style="background-color:#000;"></div>
      <i class="fa fa-ban icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="burn" data-view ="LineChart" data-right-margin="10" data-bottom-margin="5"></div>
    </li>

  </ul>

</div>


<!-- <form action="/sampletv" method="POST">
  <input placeholder="Project" type="text" name="current_project"></input>
  <p><input class="submit" type="submit"></p>
</form> -->

<% current_project = File.read('./assets/current_project.txt').gsub("\n",'') %>

<form action="/sampletv" method="POST">
  <input id="projectField" placeholder="Project" type="text" name="current_project"></input>

  <p><input class="submit" type="submit"></p>
</form>

<script>

  var projy = document.getElementById('projectField');
  projy.addEventListener('change', function(){
      var val = projy.value;
      console.log(val);
    });

//////////

  function readTextFile(file)
  {
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, false);
      rawFile.onreadystatechange = function ()
      {
          if(rawFile.readyState === 4)
          {
              if(rawFile.status === 200 || rawFile.status == 0)
              {
                  var allText = rawFile.responseText;
                  alert(allText);
              }
          }
      }
      rawFile.send(null);
  };
  var read = readTextFile("file:///~/m_f_dash/assets/" + projy.value "_sprint_goals.txt");

  console.log(read)
  </script>
